ws-client/src/wsdl/hello.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions targetNamespace="http://learnwebservices.com/services/hello" name="HelloEndpointService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://learnwebservices.com/services/hello" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema targetNamespace="http://learnwebservices.com/services/hello" xmlns:tns="http://learnwebservices.com/services/hello" version="1.0" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="SayHello" type="tns:SayHello"/>
            <xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>
            <xs:complexType name="SayHello">
                <xs:sequence>
                    <xs:element name="HelloRequest" type="tns:helloRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="helloRequest">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SayHelloResponse">
                <xs:sequence>
                    <xs:element name="HelloResponse" type="tns:helloResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="helloResponse">
                <xs:sequence>
                    <xs:element name="Message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="SayHelloResponse">
        <wsdl:part name="parameters" element="tns:SayHelloResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SayHello">
        <wsdl:part name="parameters" element="tns:SayHello"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloEndpoint">
        <wsdl:operation name="SayHello">
            <wsdl:input name="SayHello" message="tns:SayHello"> </wsdl:input>
            <wsdl:output name="SayHelloResponse" message="tns:SayHelloResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloEndpointServiceSoapBinding" type="tns:HelloEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="SayHello">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="SayHello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SayHelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloEndpointService">
        <wsdl:port name="HelloEndpointPort" binding="tns:HelloEndpointServiceSoapBinding">
            <soap:address location="http://www.learnwebservices.com/services/hello"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>